<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nagopy.android.xposed.utilities"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <!-- font読みこみ用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Toast表示用 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- torch -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.1*" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_desription" />

        <activity android:name="com.nagopy.android.xposed.utilities.PrefActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.nagopy.android.xposed.utilities.receiver.ToastReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.nagopy.android.xposed.utilities.ACTION_SHOW_TOAST" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nagopy.android.xposed.utilities.service.TorchService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.nagopy.android.xposed.utilities.receiver.TorchReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.nagopy.android.xposed.utilities.service.TorchService.ACTION_TORCH_TOGGLE" />
                <action android:name="com.nagopy.android.xposed.utilities.service.TorchService.ACTION_TORCH_ON" />
                <action android:name="com.nagopy.android.xposed.utilities.service.TorchService.ACTION_TORCH_OFF" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.nagopy.android.xposed.utilities.receiver.BrightnessLogReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.nagopy.android.xposed.utilities.ACTION_BRIGHTNESS_LOG" />
            </intent-filter>
        </receiver>
    </application>

</manifest>